* {
  box-sizing: border-box;
  border: 1px solid black;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body {
  padding-left: 17.5%;
}

.container {
  width: 65vw;
  height: 100vh;
}

.navBar {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchField {
  height: 2rem;
}

.profile {
  height: 15rem;
  display: flex;
}

.profile-pic {
  width: 25%;
  height: 100%;
}
.profile-infos {
  width: 75%;
  height: 100%;
}

.Profile-images {
  height: 5rem;
  display: flex;
  align-items: center;
}

.Profile-images * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 2rem 0.5rem 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
