* {
  box-sizing: border-box;
  border: 1px solid black;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
}
body {
  padding-left: 17.5%;
}

.container {
  width: 65vw;
}

.navBar {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .searchField {
    height: 2rem;
  }
}

.profile {
  height: 15rem;
  display: flex;
  .profile-pic {
    width: 25%;
    height: 100%;
  }
  .profile-infos {
    width: 75%;
    height: 100%;
  }
}

.Profile-images {
  height: 5rem;
  display: flex;
  align-items: center;
  & * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 2rem 0.5rem 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  div:first-child {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & * {
      width: 20rem;
      height: 18rem;
      margin: 0.7rem;
    }
  }

  & * {
    border: none;
  }
}
